<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotArmUR2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RobotArmUR2.Properties.Settings>
      <setting name="PaperPointBLX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaperPointBLY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PaperPointTLX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaperPointTLY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaperPointTRX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PaperPointTRY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaperPointBRX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PaperPointBRY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BLRobotRotation" serializeAs="String">
        <value>66.37</value>
      </setting>
      <setting name="BLRobotExtension" serializeAs="String">
        <value>348.49</value>
      </setting>
      <setting name="TLRobotRotation" serializeAs="String">
        <value>75.37</value>
      </setting>
      <setting name="TLRobotExtension" serializeAs="String">
        <value>553.21</value>
      </setting>
      <setting name="TRRobotRotation" serializeAs="String">
        <value>104.63</value>
      </setting>
      <setting name="TRRobotExtension" serializeAs="String">
        <value>553.21</value>
      </setting>
      <setting name="BRRobotRotation" serializeAs="String">
        <value>113.63</value>
      </setting>
      <setting name="BRRobotExtension" serializeAs="String">
        <value>348.49</value>
      </setting>
      <setting name="TriangleStackRotation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TriangleStackExtension" serializeAs="String">
        <value>406.4</value>
      </setting>
      <setting name="SquareStackRotation" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="SquareStackExtension" serializeAs="String">
        <value>406.4</value>
      </setting>
      <setting name="BasePrescale" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CarriagePrescale" serializeAs="String">
        <value>0</value>
      </setting>
    </RobotArmUR2.Properties.Settings>
  </userSettings>
</configuration>